project_id = "kfxoyucatvvcgmqalxsg"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
max_rows = 1000

[db]
port = 54322

[studio]
enabled = true
port = 54323

[inbucket]
enabled = true
port = 54324

[storage]
enabled = true

[auth]
enabled = true

[realtime]
enabled = true

[analytics]
enabled = false

[functions]
admin-stats = { verify_jwt = true, import_map = "./functions/admin-stats/deno.json", entrypoint = "./functions/admin-stats/index.ts" }
admin-users = { verify_jwt = true, import_map = "./functions/admin-users/deno.json", entrypoint = "./functions/admin-users/index.ts" }
